include ../libs/image

doctype html
html(lang="en")
	include ../head
	body
		.container
			h1.container__title Webpack
			p.container__prop Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores assumenda beatae dolor, eaque, explicabo laudantium natus nihil nulla officia, quam qui quibusdam sequi tempora ut vel vitae voluptas voluptates.
			img(src="/img/1s.jpg")
			img(src="/img/phone.png")
			.block
			.user