extends ../layout/main

include ../libs/image

block title
	h1.container__title Webpack Index
	p.container__prop Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores assumenda beatae dolor, eaque, explicabo laudantium natus nihil nulla officia, quam qui quibusdam sequi tempora ut vel vitae voluptas voluptates.
	img(src="/assets/img/1s.jpg")
	+image("phone.png")
	a(href="/query.html").block
